@font-face {
  font-display: swap;
  font-family: "SEGA LOGO FONT";
  src: local('SEGA LOGO FONT'), url("SEGA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "SEGA LOGO FONT";
  font-weight: 200;
  color: rgb(41, 179, 243);
}
